<launch>

    <!-- load params of joint into master -->
    <rosparam file="$(find ros_dog)/config/controllers/dog_simple_control.yaml" command="load"/>
    <rosparam command="load" file="$(find ros_dog)/config/controllers/pid_params.yaml" />

    <!-- load controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/dog" args="joint_state_controller
                                          LF1_position_controller
                                          LF2_position_controller
                                          LF3_position_controller
                                          
                                          LB1_position_controller
                                          LB2_position_controller
                                          LB3_position_controller
                                          
                                          RF1_position_controller
                                          RF2_position_controller
                                          RF3_position_controller
                                          
                                          RB1_position_controller
                                          RB2_position_controller
                                          RB3_position_controller"/>

    <!-- run node robot_state_publisher，pub tf  -->
    <node name="dog_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        <remap from="/joint_states" to="/dog/joint_states" />
    </node>

</launch>