<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find ros_dog)/dog/xacro/dog_v2.xacro" />
    <node pkg="rviz" type="rviz" name="dog_rviz" args ="-d $(find ros_dog)/config/rviz/dog.rviz" />

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
</launch>